<html>
    <head>
      <title>Servicio Social</title>
    </head>
    <body>
        <h1>Bienvenido al Servicio Social del ITESM Toluca</h1>
        <ul>
          <li><%= link_to 'Soy alumno', '/login/login'%></li>
          <li><%= link_to 'Soy administrador', '/login/admin_login' %></li>
        </ul>
    </body>
</html>